@model TestTrack.ViewModels.TestRunsListVM

@{
    ViewBag.Title = "Test Runs";
}

<div class="jumbotron">
    <div class="container">
        <h1>Test Runs</h1>
        <p>Create Test Runs in a Test Plan for each Testing concern that might be involved in a Sanity Test Plan, Regression Test Plan, Functional Test Plan or even a Non-Functional one.</p>
        <p>Test Track enables you to execute multiple test runs for your suites over time to easily verify your tests against new releases.</p>
        <p>Include all your suite's test cases or just a subset and start tracking results that matter.</p>
        <p>
            @Html.ActionLink("Create New", "Create", "TestRuns", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink(Model.Iteration, "Index", "TestPlanPerIteration", new { id = @Model.IterationID }, null)</li>
    <li class="active">@Model.TestPlan</li>
</ol>
<div class="content">
    <div class="header">
        <strong>@Model.TestPlan</strong>
        @Html.ActionLink("Edit", "Edit", "TestPlans", new { id = Model.TestPlanID }, null) | 
        @Html.ActionLink("Delete", "Delete", "TestPlans", new { id = Model.TestPlanID }, new { @data_target = "#deleteModal", @data_toggle = "modal" })

    </div>
    <div class="content-body">
        <p>@Model.TestPlanDescription</p>
    </div>
</div>


<div class="content">
    <div class="header header-btn">
        <strong>Test Runs for @Model.TestPlan</strong>
        @Html.ActionLink("Add Test Run", "Create", "TestRuns", null, new { @class = "btn btn-default btn-md" })
    </div>
    @if (Model.TestRuns.Count() > 0)
    {
        <div class="content-body">
            @foreach (var item in Model.TestRuns)
            {
                <div class="row">
                    <div class="col-md-1">
                        <div class="square"></div>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>@Html.ActionLink(item.Title, "Index", "ExecuteTestRun", new { id = item.TestRunID }, null)
                            </strong>
                            <br />
                        </p>
                        <p><small>Created on @item.CreatedOn.</small></p>
                    </div>
                    <div class="col-md-3">
                        @Html.Action("ProgressBar", "Results", new { id = item.TestRunID })
                    </div>

                </div>
            }
        </div>
        <div class="closed-test-runs panel-group" id="accordion">
            <div>
                <div>
                    <h5 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><strong>Closed Test Runs</strong> <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        @foreach (var item in Model.ClosedTestRuns)
                        {
                            <div class="row">
                                <div class="col-md-9">
                                    @Html.ActionLink(item.Title, "Index", "ExecuteTestRun", new { id = item.TestRunID }, null)
                                </div>
                                <div class="col-md-2">
                                    <small>Last update: 10/25/2013@*@item.LastModified*@</small>
                                </div>
                                <div class="col-md-1">
                                    <small><strong>@Html.Action("Percentage", "Results", new { id = item.TestRunID })</strong></small>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else {
        <div class="alert alert-warning">There are no Test Runs on this Test Plan.</div>
    }
</div>


<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true"></div>