@model TestTrack.ViewModels.TestRunsListVM

@{
    ViewBag.Title = "Test Runs";
}

<div class="jumbotron">
    <div class="container">
        <h1>Test Runs</h1>
        <p>Create Test Runs in a Test Plan for each Testing concern that might be involved in a Sanity Test Plan, Regression Test Plan, Functional Test Plan or even a Non-Functional one.</p>
        <p>Test Track enables you to execute multiple test runs for your suites over time to easily verify your tests against new releases.</p>
        <p>Include all your suite's test cases or just a subset and start tracking results that matter.</p>
        <p>
            @Html.ActionLink("Create New", "Create", "TestRuns", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink(Model.Iteration, "Index", "TestPlanPerIteration", new { id = @Model.IterationID }, null)</li>
    <li class="active">@Model.TestPlan</li>
</ol>
<div class="content">
    <div class="header">
        <strong>@Model.TestPlan</strong>
        @Html.ActionLink("Edit", "Edit", "TestPlans", new { id = Model.TestPlanID }, null) | 
                @Html.ActionLink("Delete", "Delete", "TestPlans", new { id = Model.TestPlanID }, null)

    </div>
    <div class="content-body">
        <p>@Model.TestPlanDescription</p>
    </div>
</div>

@if (Model.TestRuns.Count() > 0)
{
    <div class="content">
        <div class="header header-btn">
            <strong>Test Runs for @Model.TestPlan</strong>
            @Html.ActionLink("Add Test Run", "Create", "TestRuns", null, new { @class = "btn btn-primary btn-md" })
        </div>
        <div class="content-body">
            @foreach (var item in Model.TestRuns)
            {
                <div class="row">
                    <div class="col-md-1">
                        <div class="green-square"></div>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>@*@Html.ActionLink(item.Title, "Details", "TestRuns", new { id = item.TestRunID }, null)*@
                                @item.Title
                            </strong>
                            <br />
                        </p>
                        <p><small>Created on @item.CreatedOn.</small></p>
                    </div>
                    <div class="col-md-3">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 35%">
                                <span class="sr-only">35% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 20%">
                                <span class="sr-only">20% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%">
                                <span class="sr-only">10% Complete (danger)</span>
                            </div>
                        </div>

                    </div>

                </div>
            }
        </div>
    </div>
}