@model TestTrack.Models.TestCase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TestCase</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreConditions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreConditions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tags)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tags)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TestSuite.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestSuite.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TestCaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
