@model IEnumerable<TestTrack.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamID }) |
            @Html.ActionLink("Add a Test Suite", "Create", "TestSuites", new { id=item.TeamID }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamID })
        </td>
    </tr>
}

</table>
