@model TestTrack.ViewModels.TeamsListVM

@{
    ViewBag.Title = "Teams";
}

<div class="jumbotron">
    <div class="container">
        <h1>Teams</h1>
        <p>Add teams for all areas that compound the Quality Assurance for a project as a whole.</p>
        <p>Divide your project in Teams.</p>
        <p>Each team can have their Test Suite. Everything organized. Focus on what is yours.</p>
        <p>By assigning test plans to your team you can easily monitor the current testing status and activity.</p>
        <p>
            @Html.ActionLink("Create New", "Create", "Teams", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

@if (Model != null)
{
    <h2>Teams for @Model.Teams.First().Project.Title</h2>
    
    foreach (var item in Model.Teams)
    {
    <dl class="dl-horizontal">
        <dt>@Html.DisplayFor(modelItem => item.Title)</dt>
        <dd>
            <p>@Html.ActionLink("Edit", "Edit", new { id = item.TeamID }) |
            @Html.ActionLink("Delete", "Delete", "Teams", new { id = item.TeamID }, new { @data_target = "#deleteModal", @data_toggle = "modal" })
            </p>
            <p>Contains <b>@item.TestPlans.Count()</b> TestPlans.</p>
        </dd>
        <br />
    </dl>
    }
}

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true"></div>
