@model TestTrack.Models.TestRun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TestRun</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Closed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Closed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TestPlan.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestPlan.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TestRunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
