@model int

@{
    ViewBag.Title = "About";
}

<!-- Header -->
@if (Model == 0)
{
    @Html.Partial("~/Views/Shared/_NoProjectsHeader.cshtml")
}
else
{
    @Html.Partial("~/Views/Shared/_Header.cshtml")
}

<!-- Main -->
<div class="container">
    <div class="main">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Your app description page.</h2>
        </hgroup>

        <article>
            <p>
                Use this area to provide additional information.
            </p>

            <p>
                Use this area to provide additional information.
            </p>

            <p>
                Use this area to provide additional information.
            </p>
        </article>

        <aside>
            <h3>Aside Title</h3>
            <p>
                Use this area to provide additional information.
            </p>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </aside>
    </div>
</div>
