@model IList<TestTrack.ViewModels.TestCaseVM>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <strong>ID</strong>
            </th>
            <th>
                <strong>Title</strong>
            </th>
            <th>
                <strong>Method</strong>
            </th>
            <th>
                <strong>Type</strong>
            </th>
            <th>
                <strong>Priority</strong>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                <small>@item.TestCaseID</small>
            </td>
            <td>
                <small>@Html.ActionLink(@item.Title, "Index", "TestCases", new { id = item.TestCaseID }, null)</small>
            </td>
            <td>
                <small>@item.Method</small>
            </td>
            <td>
                <small>@item.Type</small>
            </td>
            <td>
                <small>@item.Priority</small>
            </td>
        </tr>
    }

</table>
