@model TestTrack.ViewModels.ResultVM
@using (Html.BeginForm("SetResult", "ExecuteTestRun"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ResultID)
    <div class="row result">
        <div class="col-md-1 tc-id">
            <p><small>@Model.TestCaseID</small></p>
        </div>
        <div class="col-md-9">
            <p><small><a href="/Results/Index/@Model.TestRunID/@Model.TestCaseID">@Model.TestCase</a></small></p>
        </div>
        <div class="col-md-2">
                @Html.DropDownListFor(model => model.State, Model.States, new { @onchange = "this.form.submit()", @disabled = "true", @class = "form-control " + @Model.State.ToString().ToLower() })
        </div>
    </div>
}
