@model TestTrack.ViewModels.ResultVM

<tr>
    <td>
        <small>@Model.TestCaseID</small>
    </td>
    <td>
        <small><a href="/Results/Index/@Model.TestRunID/@Model.TestCaseID">@Model.TestCase.Title</a></small>
    </td>
    <td style="text-align: center;">

        @if (Model.AssignedTo != null)
        {
            <small>@Html.ActionLink(@Model.AssignedTo, "SetAssignee", "Results", new { id = Model.ResultID }, new { @data_target = "#modalAssignTo", @data_toggle = "modal" })</small>
        }
        else
        {
            <small>@Html.ActionLink(" ", "SetAssignee", "Results", new { id = Model.ResultID }, new { @class = "glyphicon glyphicon-user", @data_target = "#modalAssignTo", @data_toggle = "modal" })</small>
        }
    </td>
    <td style="text-align: center;">
        <span class="badge @Model.State.ToString().ToLower()">@Model.State.ToString()</span>
    </td>
    <td style="text-align: center;" >
        @Html.ActionLink(" ", "Create", "Results", new { id = Model.ResultID }, new { @class = "glyphicon glyphicon-plus", @title = "Add Result", @data_target = "#modalResultForTestCase", @data_toggle = "modal" })
    </td>
</tr>



