@model TestTrack.ViewModels.ExecuteTestRunVM

@{
    ViewBag.Title = "Execute";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(Model.Iteration, "Index", "TestPlanPerIteration", new { id = @Model.IterationID }, null)</li>
    <li>@Html.ActionLink(Model.TestPlan, "Index", "TestRunsOnTestPlan", new { id = @Model.TestPlanID }, null)</li>
    <li class="active">@Model.TestRun</li>
</ol>

<div class="content">
    <div class="header">
        <strong>@Model.TestRun</strong>
        @if (!Model.Closed)
        {
            @Html.ActionLink("Edit", "Edit", "TestRuns", new { id = Model.TestRunID }, null)  
        }
        | @Html.ActionLink("Delete", "Delete", "TestRuns", new { id = Model.TestRunID }, null)
    </div>
    <div class="content-body">
        @if (Model.Closed)
        {
            <div class="alert alert-warning">This Test Run is closed. You can no longer modify this test run or add new test results.</div>
        }
@*        GRAFICOS de torta*@
@* Partial View public ActionResult _Draw() de PieChartsController*@
    </div>
    <div class="header header-btn">
        <strong>Tests</strong>
        @if (!Model.Closed)
        {
            @*@Html.ActionLink("Select Test Cases", "Create", "Results", null, new { @class = "btn btn-primary btn-md", data_toggle = "modal", href = "#testCasesModal" })*@
            @Html.ActionLink("Select Test Cases", "AssignTestCases", "Results", new { id = Model.TestRunID }, new { @class = "btn btn-primary btn-md" })
        }
    </div>
    <div class="content-body">


        @* Parte de la vista if Model.testcases.count > 0 *@
        @* Partial view de Results *@
        @*    @Html.Action("Index", "Results", new { id = Model.TestRunID })*@



        @* Parte de la vista if Model.testcases.count == 0 Ese alert va en la partial de lista de test cases*@
        <div class="alert alert-warning">Nothing to execute! No test cases were added into this test run.</div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="testCasesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Test Cases</h4>
            </div>
            <div class="modal-body">
                @* Vista de Create Results GET: necesita mi TestRunID *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @Html.ActionLink("Save Changes", "Select", "Results", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
