@model TestTrack.ViewModels.ExecuteTestRunVM

@{
    ViewBag.Title = "Execute";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(Model.Iteration, "Index", "TestPlanPerIteration", new { id = @Model.IterationID }, null)</li>
    <li>@Html.ActionLink(Model.TestPlan, "Index", "TestRunsOnTestPlan", new { id = @Model.TestPlanID }, null)</li>
    <li class="active">@Model.TestRun</li>
</ol>

<div class="content">
    <div class="header">
        <strong>@Model.TestRun</strong>
        @if (!Model.Closed)
        {
            @Html.ActionLink("Edit", "Edit", "TestRuns", new { id = Model.TestRunID }, null)  
        }
        | @Html.ActionLink("Delete", "Delete", "TestRuns", new { id = Model.TestRunID }, new { @data_target = "#deleteModal", @data_toggle = "modal" })
    </div>
    <div class="content-body">
        @if (Model.Closed)
        {
            <div class="alert alert-warning">This Test Run is closed. You can no longer modify this test run or add new test results.</div>
        }

        @if (Model.Results.Count() > 0)
        {
            <div class="row">
                <div class="col-md-6 chart">
                    @Html.Action("DrawChart", "Results", new { id = Model.TestRunID })
                </div>
                <div class="col-md-6">
                    @Html.Action("Percentage", "Results", new { id = Model.TestRunID })
                </div>
            </div>
        }
    </div>
    <div class="header header-btn">
        <strong>Tests</strong>
        @if (!Model.Closed)
        {
            @Html.ActionLink("Select Test Cases", "AssignTestCases", "Results", new { id = Model.TestRunID }, new { @class = "btn btn-default btn-md" })
        }
    </div>
    <div class="content-body">
        @if (Model.Results.Count() == 0)
        {
            <div class="alert alert-warning">Nothing to execute! No test cases were added into this test run.</div>
        }
        else
        {
            foreach (var item in Model.Results)
            {
            @Html.Action("List", "ExecuteTestRun", new { id = item.ResultID })
            }
        }
    </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true"></div>