@model TestTrack.ViewModels.TestRunVM

@{
    ViewBag.Title = "Execute";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(Model.TestPlan.Iteration.Title, "Index", "TestPlanPerIteration", new { id = @Model.TestPlan.IterationID }, null)</li>
    <li>@Html.ActionLink(Model.TestPlan.Title, "Index", "TestRunsOnTestPlan", new { id = @Model.TestPlanID }, null)</li>
    <li class="active">@Model.Title</li>
</ol>

<div class="content">
    <div class="header">
        <strong>@Model.Title</strong>
        @if (!Model.Closed)
        {
            @Html.ActionLink(" ", "Edit", "TestRuns", new { id = Model.TestRunID }, new { @class = "glyphicon glyphicon-pencil", @title = "Edit" })  
        }
        | @Html.ActionLink(" ", "Delete", "TestRuns", new { id = Model.TestRunID }, new { @data_target = "#deleteModal", @data_toggle = "modal", @class = "glyphicon glyphicon-trash", @title = "Delete" })
    </div>
    <div class="content-body">
        @if (Model.Closed)
        {
            <div class="alert alert-warning">This Test Run is closed. You can no longer modify this test run or add new test results.</div>
        }

        @if (Model.Results.Count() > 0)
        {
            <div class="row">
                <div class="col-md-6 chart">
                    @Html.Action("DrawChart", "Results", new { id = Model.TestRunID })
                </div>
                <div class="col-md-6">
                    @Html.Action("Percentage", "Results", new { id = Model.TestRunID })
                </div>
            </div>
        }
    </div>
    <div class="header header-btn">
        <strong>Tests</strong>
        @if (!Model.Closed)
        {
            @Html.ActionLink("Select Test Cases", "AssignTestCases", "Results", new { id = Model.TestRunID }, new { @class = "btn btn-default btn-md", @data_target = "#selectTestCasesModal", @data_toggle = "modal" })
        }
    </div>
    <div class="content-body">
        @if (Model.Results.Count() == 0)
        {
            <div class="alert alert-warning">Nothing to execute! No test cases were added into this test run.</div>
        }
        else
        {
            if (!Model.Closed)
            {
                foreach (var item in Model.Results)
                {
            @Html.Action("List", "ExecuteTestRun", new { id = item.ResultID })
                }
            }
            else
            {
                foreach (var item in Model.Results)
                {
            @Html.Action("ListDisabled", "ExecuteTestRun", new { id = item.ResultID })
                }
            }
        }
    </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true"></div>

<!-- SELECT TEST CASES MODAL -->
<div class="modal fade" id="selectTestCasesModal" tabindex="-1" role="dialog" aria-labelledby="select" aria-hidden="true"></div>

<!-- ADD RESULT MODAL -->
<div class="modal fade" id="modalResultForTestCase" tabindex="-1" role="dialog" aria-labelledby="result" aria-hidden="true"></div>

<!-- ASSIGN TO MODAL -->
<div class="modal fade" id="modalAssignTo" tabindex="-1" role="dialog" aria-labelledby="assign" aria-hidden="true"></div>

<script>
    $(document).ready(function () {
        $(".row select").change(function () {
            $('#modalResultForTestCase').modal({
                remote: "/Results/Create/" + $(this).attr("data-id") + "/" + $(this).val()
            });
        });
    });
</script>
