@model TestTrack.Models.Result

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Result</legend>

        @Html.HiddenFor(model => model.ResultID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TestCaseID, "TestCase")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TestCaseID", String.Empty)
            @Html.ValidationMessageFor(model => model.TestCaseID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestRunID, "TestRun")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TestRunID", String.Empty)
            @Html.ValidationMessageFor(model => model.TestRunID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
