@model TestTrack.Models.Iteration

@{
    ViewBag.Title = "Iterations";
}

<div class="jumbotron">
    <div class="container">
        <h1>Iterations</h1>
        <p>Apply robust software testing into the iterative development lifecycle.</p>
        <p>Organize your project backlog in Iterations.</p>
        <p>By assigning test plans to your iterations you can easily monitor your iteration's status and activity.</p>
        <p>
            @Html.ActionLink("Create New", "Create", "Iterations", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>
@if (Model != null)
{
    <h2>Iterations for @Model.Project.Title</h2>
    
    <div class="dl-horizontal">
        @Html.Action("List", "Iterations")
    </div>
    <div class="content">
        <div class="header">
            <strong>@Model.Title</strong>


            @Html.ActionLink("Edit", "Edit", "Iterations", new { id = Model.IterationID }, null) | 
            @Html.ActionLink("Delete", "Delete", "Iterations", new { id = Model.IterationID }, new { @data_target = "#deleteModal", @data_toggle = "modal" })

        </div>
        <div class="content-body">
            <div class="display-label">
                <strong>@Html.DisplayNameFor(model => model.StartDate):</strong>
                @Html.DisplayFor(model => model.StartDate)
            </div>
            <div class="display-label">
                <strong>@Html.DisplayNameFor(model => model.DueDate):</strong>
                @Html.DisplayFor(model => model.DueDate)
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header header-btn">
            <strong>Test Plans for @Model.Title</strong>
            @Html.ActionLink("Add Test Plan", "Create", "TestPlans", null, new { @class = "btn btn-default btn-md" })
        </div>
        <div class="content-body">
            @Html.Action("List", "TestPlans", new { id = Model.IterationID })
        </div>
    </div>
}

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true"></div>





















