@model int[]

@if (Model != null)
{
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: @Model[2]%">
            @Model[2]%
        </div>
        <div class="progress-bar progress-bar-danger" style="width: @Model[1]%">
            @Model[1]%
        </div>
        <div class="progress-bar progress-bar-warning" style="width: @Model[0]%">
            @Model[0]%
        </div>
        <div class="progress-bar progress-bar-info" style="width: @Model[3]%">
            @Model[3]%
        </div>
    </div>
    <div>
        <small>Untested: @Model[4]%</small>
    </div>
}
else
{
    <div class="no-test-runs">
        No test cases added.
    </div>
}
