@model TestTrack.ViewModels.ResultVM

@{
    ViewBag.Title = "Test Cases";
}

@using (Html.BeginForm("AssignTestCases", "Results"))
{
    @Html.HiddenFor(model => model.TestRunID)


    foreach (var item in Model.TestCases)
    {
        var optionValue = "SelectedTestCases_" + item.Value;
        var checkedValue = false;
        if (Model.TestCasesInTestRun.Contains(Convert.ToInt32(item.Value)))
        {
            checkedValue = true;
        }
        <input type="checkbox" id="@optionValue" name="SelectedTestCases" value="@item.Value" checked="@checkedValue"/>
        <label for="@optionValue">@item.Text</label>
        <br />
    }
    <input type="submit" value="Save" class="btn btn-default" />
}

