@model TestTrack.ViewModels.ResultVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.TestCaseID)
    @Html.HiddenFor(model => model.TestRunID)

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" href="/ExecuteTestRun/Index/@Model.TestRunID" aria-hidden="true">&times;</a>
                <h4 class="modal-title">Add Test Result</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Result Status</label>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.State, Model.States, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.State)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Comments</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Comments)
                        </div>
                        <small>Describe your test result.</small>
                    </div>
                    <hr />
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#defectInformation">Add defect information</a>
                                </div>
                            </div>
                            <div id="defectInformation" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Defect title</label>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Title)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Severity</label>
                                        </div>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(model => model.Severity, Model.Severities, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Severity)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Description</label>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Comments)
                                        </div>
                                        <small>Leave comments about your defect.</small>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Labels</label>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.Labels, new { @class = "form-control", @placeholder = "label1,label2,label3" })
                                            @Html.ValidationMessageFor(model => model.Labels)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="/ExecuteTestRun/Index/@Model.TestRunID">Cancel</a>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>Add Test Result</button>
            </div>
        </div>
    </div>
}
