@model TestTrack.ViewModels.ResultsPerTestCaseVM

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="page-header">
        <h2>@Model.TestCase &nbsp;<small>@Html.ActionLink(" ", "Edit", "TestCases", new { id = Model.TestCaseID }, new { @class = "glyphicon glyphicon-pencil", @title = "Edit Test Case" })&nbsp;@Html.ActionLink(" ", "Delete", "TestCases", new { id = Model.TestCaseID }, new { @data_target = "#deleteModal", @data_toggle = "modal", @class = "glyphicon glyphicon-trash", @title = "Delete" })</small></h2>
    </div>
    @* Bar chart con results *@
    <div class="panel-group" id="accordion">
        @if (Model.Results.Count() > 0)
        {
            var item = Model.Results.First();
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @switch (item.State)
                        {
                            case TestTrack.Models.State.Blocked:
                            <span class="badge blocked">Blocked</span>
                                break;
                            case TestTrack.Models.State.Failed:
                            <span class="badge failed">Failed</span>
                                break;
                            case TestTrack.Models.State.Passed:
                            <span class="badge passed">Passed</span>
                                break;
                            case TestTrack.Models.State.Retest:
                            <span class="badge retest">Retest</span>
                                break;
                            default:
                                break;
                        }
                        <a data-toggle="collapse" data-parent="#accordion" href="#result_@item.ResultID">Result from <strong>@item.CreatedOn.ToShortDateString()</strong>
                        </a>
                    </h4>
                </div>
                <div id="#result_@item.ResultID" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>@item.Comments</p>
                        @if (item.Defects.Count() == 0)
                        {
                            <p>No defects.</p>
                        }
                    </div>
                </div>
            </div>
        }
        @for (var i = 1; i < Model.Results.Count(); i++)
        {
            var item = Model.Results.ElementAt(i);
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="badge passed">Passed</span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#result_@item.ResultID">Result from <strong>@item.CreatedOn.ToShortDateString()</strong>
                        </a>
                    </h4>
                </div>
                <div id="#result_@item.ResultID" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>@item.Comments</p>
                        @if (item.Defects.Count() == 0)
                        {
                            <p>No defects.</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
