@model IList<TestTrack.ViewModels.ResultVM>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(Model.First().TestRun.Title, "Index", "ExecuteTestRun", new { id = @Model.First().TestRunID }, null)</li>
    <li class="active">@Model.First().TestCase.Title</li>
</ol>


<div class="content">
    <div class="page-header">
        <h2>@Model.First().TestCase.Title &nbsp;<small>@Html.ActionLink(" ", "Edit", "TestCases", new { id = Model.First().TestCaseID }, new { @class = "glyphicon glyphicon-pencil", @title = "Edit Test Case" })&nbsp;@Html.ActionLink(" ", "Delete", "TestCases", new { id = Model.First().TestCaseID }, new { @data_target = "#deleteModal", @data_toggle = "modal", @class = "glyphicon glyphicon-trash", @title = "Delete" })</small></h2>
    </div>

    @Html.Action("DrawBarChart", "Results", new { id = Model.First().TestCaseID })

    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @switch (item.State)
                        {
                            case TestTrack.Models.State.Blocked:
                            <span class="badge blocked">Blocked</span>
                                break;
                            case TestTrack.Models.State.Failed:
                            <span class="badge failed">Failed</span>
                                break;
                            case TestTrack.Models.State.Passed:
                            <span class="badge passed">Passed</span>
                                break;
                            case TestTrack.Models.State.Retest:
                            <span class="badge retest">Retest</span>
                                break;
                            default:
                            <span class="badge">Untested</span>
                                break;
                        }
                        <a data-toggle="collapse" data-parent="#accordion" href="#result_@item.ResultID">Result from <strong>@item.CreatedOn.ToShortDateString()</strong>
                        </a>
                        @Html.ActionLink(" ", "Delete", "Results", new { id = item.ResultID }, new { @data_target = "#deleteModal", @data_toggle = "modal", @class = "glyphicon glyphicon-trash", @title = "Delete" })
                    </h4>
                </div>
                @if (item == Model.First())
                {
                    <div id="result_@item.ResultID" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>@item.Comments</p>
                            @if (item.Defects.Count() == 0)
                            {
                                <p>No defects.</p>
                            }
                            else
                            {
                                <br />
                                <label>Defect:</label>
                                <hr />
                                <p>
                                    <strong>@item.Defects.First().DefectID - @item.Defects.First().Title </strong>@Html.ActionLink(" ", "Edit", "Defects", new { id = @item.Defects.First().DefectID }, new { @class = "glyphicon glyphicon-pencil", @title = "Edit defect" })
                                    <br /> Severity: 
                                    @switch (item.Defects.First().Severity.ToString())
                                    {
                                        case "Critical":
                                        <span class="badge failed">Critical</span>
                                            break;
                                        case "High":
                                        <span class="badge ">Failed</span>
                                            break;
                                        case "Low":
                                        <span class="badge passed">Passed</span>
                                            break;
                                        default:
                                        <span class="badge ">Untested</span>
                                            break;
                                    }
                                </p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div id="result_@item.ResultID" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>@item.Comments</p>
                            @if (item.Defects.Count() == 0)
                            {
                                <p>No defects.</p>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true"></div>